body {
	font-family: 'Rubik', sans-serif;
	min-width: 360px;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

ul {
	list-style: none;
	margin: 0;
}

a {
	text-decoration: none;
}

.btn {
	border: none;
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		transition: all 0.3s;
	}

	&:focus {
		outline: none;
	}
}

.header {
	position: fixed;
	width: 100%;
	background: linear-gradient(180deg, rgba(29, 32, 37, .8) 0%, rgba(48, 53, 61, .8) 100%);
	z-index: 1000;

	.logo-img {
		transition: all 0.3s;
		padding-top: 4px;

		&:hover {
			transition: all 0.3s;
			filter: saturate(220%);
		}
	}

	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 0;
	}
}

.navigation {
	&__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: all .3s;

		.link-item {
			font-size: 14px;
			color: #fff;
			margin: 0 5px;
			padding: 4px 10px;
			border: 2px solid transparent;
			border-radius: 5px;
			transition: border .3s;

			&:hover {
				border: 2px solid rgba(255, 251, 0, 0.6);
				transition: border .3s;
			}
		}
	}
}

.menu-btn-mobile {
	position: absolute;
	padding-top: 14px;
	right: 0;
	cursor: pointer;
	position: relative;
	outline: none;
	z-index: 1000;
}

.hamburger-inner {
	background-color: #fff !important;

	&:after,
	&:before {
		background-color: #fff !important;
	}
}

.hidden {
	display: none;
}


.lang {
	position: relative;
	display: inline-block;
	padding-left: 30px;

	&__btn {
		background-color: transparent;
		padding-top: 5px;

		&:hover {
			filter: sepia(1);
		}


		&::after {
			content: '';
			position: absolute;
			top: 14px;
			margin-left: 5px;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #fff;
		}
	}

	&__items {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		display: flex;
		flex-direction: column;
		background: linear-gradient(180deg, rgba(29, 32, 37, .8) 0%, rgba(48, 53, 61, .8) 100%);
		box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
		transition: all 0.3s;
		top: 46px;
		left: -4px;

		.lang-item {
			display: flex;
			align-items: center;
			padding: 10px 0;
			text-decoration: none;
			font-size: 14px;
			color: #fff;
			transition: all .3s;
			padding-left: 10px;
			padding-right: 40px;
			transition: all .3s;
			background: rgba(29, 32, 37, .5);

			&:hover {
				background: rgb(51, 60, 77);
				transition: all .3s;
			}

			.lang-icon {
				padding-right: 10px;
				padding-bottom: 5px;
				transition: all 0.3s;
			}
		}
	}
}

.show {
	visibility: visible;
	opacity: 1;
	transition: all 0.3s;
}

.cart {
	display: flex;
	justify-content: flex-end;
	min-width: 50px;

	.cart-icon {
		padding-top: 2px;
		width: 25px;
		transition: all 0.3s;

		&:hover {
			filter: sepia(1) saturate(10);
			transition: all 0.3s;
		}
	}
}

.auth {
	display: flex;
	justify-content: space-between;
	min-width: 195px;
	padding-left: 50px;

	.btn-auth {
		border-radius: 3px;
		padding: 5px 10px;
		padding-top: 8px;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 400;
		filter: drop-shadow(0 0 6px rgb(0, 0, 0));
		transition: all .3s;

		&--sign-up {
			background: #1976D2;

			&:hover {
				background: lighten(#1976D2, 10%);
			}
		}

		&--sign-in {
			background: #388E3C;

			&:hover {
				background: lighten(#388E3C, 10%);
			}
		}

		&:hover {
			transition: all .3s;
		}
	}
}


.main {
	padding-top: 90px;
	padding-bottom: 80px;
	background: url(../img/main-bg.svg) center no-repeat;
	background-size: cover;

	.container {
		max-width: 800px;
	}

	.main-content {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.info {
		max-width: 400px;
		padding-bottom: 60px;
		filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));

		&__primary {
			color: #fff;
			font-size: 32px;
			font-weight: bold;
			padding-bottom: 15px;
		}

		&__secondary {
			color: #fff;
			font-size: 20px;
			padding-bottom: 8px;
			text-align: center;
		}

		&__decription {
			color: #fff;
			font-size: 16px;
			line-height: 1.3;
			padding-bottom: 40px;
			text-align: center;
		}

		&__icons {
			padding-top: 84px;
			display: flex;
			justify-content: space-between;
			max-width: 200px;
			margin: 0 auto;

			.info-icon {
				width: 41px;
				cursor: pointer;
				transition: all .3s;

				&:hover {
					filter: contrast(150%);
					transition: all .3s;
				}
			}
		}

		&__buttons {
			margin-top: 50px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.btn {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 48px;
				text-align: center;
				color: #fff;
				border: 2px solid #fff;
				border-radius: 8px;
				width: 180px;
				font-weight: 600;

				&:hover {
					border: 2px solid #81D4FA;
				}

				&--full {
					color: #000;
					background-color: #fff;

					&:hover {
						background: rgb(243, 176, 255);
						border: 2px solid rgb(244, 182, 255);
					}
				}
			}
		}
	}
}

.swiper-button-prev {
	width: 64px;
	background-image: url("../img/arr-left.png") !important;
	filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
}

.swiper-button-next {
	background-image: url("../img/arr-right.png") !important;
	filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
}

.swiper-button-next,
.swiper-button-prev {
	background-size: 50px 44px !important;
}





.game {
	padding: 50px 0;
	background: linear-gradient(180deg, rgb(131, 123, 172) 0%, rgb(196, 204, 226) 100%);

	.title {
		font-size: 32px;
		text-transform: uppercase;
		font-weight: 500;
		color: #fff;
		padding-bottom: 30px;
		text-align: center;
		filter: drop-shadow(0 0 6px rgb(219, 200, 255));
		user-select: none;

	}

	.row {
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(5, 1fr);

		.box {
			display: grid;
			border: 2px solid rgba(255, 255, 255, 0.3);
			border-radius: 10px;
			width: 210px;
			height: 242px;
			filter: drop-shadow(0 0 3px rgb(255, 255, 255));
			color: #686577;
			background: rgba(255, 255, 255, 0.2);
			grid-template-columns: repeat(4, 1fr);
			align-content: center;
			justify-items: center;
			margin: 5px;
			user-select: none;
			transition: all .3s ease-out;

			&--green {
				box-shadow: 0 0 10px rgba(0, 255, 191, 0.747);
				transition: all .3s ease-out;
			}

			&--red {
				box-shadow: 0 0 20px rgba(255, 0, 0, 0.747);
				transition: all .3s ease-out;
			}

			&:hover {
				border: 2px solid rgb(255, 255, 255);
				transition: all .3s ease-out;
			}


			&__cell {
				font-size: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 35px;
				height: 35px;
				border: 2px solid #fff;
				border-radius: 5px;
				margin: 6px;
				background-color: rgba(255, 255, 255, 0.3);
				font-weight: 600;
				justify-items: center;
				cursor: pointer;
				user-select: none;
				transition: all .2s ease-in;
				outline: none;

				&[disabled] {
					opacity: .6;
					cursor: default;
					transition: all .3s;
				}

				&:hover {
					background-color: rgb(255, 255, 255);
					transition: all .2s ease-in;
				}

				&--selected {
					display: flex;
					background-color: #9283d6;
					background-image: url(../img/tick-sign.svg);
					background-size: 22px;
					background-repeat: no-repeat;
					background-position: center;
					font-size: 0;
					transition: all .1s ease-in;

					&:hover {
						background-color: #9283d6;
						transition: all .2s ease-in;
					}
				}
			}
		}
	}

	.box-item {
		display: grid;
		justify-items: center;
		margin-bottom: 20px;


		.form {
			display: flex;
			flex-direction: column;

			.alert {
				text-align: center;
				text-transform: uppercase;
				font-weight: 600;
				margin: 0 10px;
				margin-bottom: 5px;
				margin-top: 2px;
				padding-top: 5px;
				padding-bottom: 5px;
				border: 2px solid rgba(255, 255, 255, 0.3);
				border-radius: 10px;
				background: rgba(150, 0, 0, 0.2);
				color: #ffffff;
				width: 210px;
			}

			.button {
				align-self: center;
				background-color: #9283d6;
				color: #fff;
				height: 50px;
				border-radius: 10px;
				border: 2px solid rgba(255, 255, 255, 0.3);
				outline: none;
				text-transform: uppercase;
				font-weight: bold;
				cursor: pointer;
				transition: all .3s;
				width: 214px;
				transition: all .3s ease-out;

				&:hover {
					filter: brightness(1.1);
					transition: all .3s;
				}

				&--green {
					box-shadow: 0 0 10px rgb(255, 255, 255);
					background-color: #2e979a;
					transition: all .3s ease-out;
				}

				&--white {
					box-shadow: 0 0 10px rgb(255, 255, 255);
					transition: all .3s ease-out;
				}

				&[disabled] {
					opacity: .6;
					cursor: default;
					transition: all .3s;
				}
			}
		}
	}
}


.footer {
	background: linear-gradient(180deg, rgba(29, 32, 37, 1) 0%, rgba(48, 53, 61, 1) 100%);
	padding-top: 82px;
	padding-bottom: 82px;

	&__social {
		display: flex;
		justify-content: center;
		padding-bottom: 30px;

		.social-icon {
			width: 40px;
			margin: 0 15px;
			transition: all .3s;

			&:hover {
				filter: brightness(1.3);
				transition: all .3s;
			}
		}
	}

	.footer-bottom {
		display: flex;
		justify-content: center;
		max-width: 840px;
		margin: 0 auto;
	}

	.link-item {
		display: flex;
		font-size: 19px;
		color: #010101;
		text-decoration: none;
		color: #999fad;
		transition: all .3s;
		padding: 5px 0;
		justify-content: center;

		&:hover {
			color: #fcdb00;
			transition: all .3s;
		}
	}

	&__info {
		display: flex;
		min-width: 530px;
		justify-content: space-between;

		.footer-links {
			color: #fff;
			display: flex;
			flex-direction: column;
		}
	}
}